@ac.internal.page("descriptor") {
    <h2>Defining your own descriptor.</h2>

    <h3>Override the root URL</h3>
    <p>In your <code>routes</code> file:</p>
    @ac.aui.message() {
        <code>GET       /                           controllers.Application.index()</code>
    }
    <p>Make sure this comes <em>before</em> the included routes from this module, represented by:</p>
    @ac.aui.message() {
        <code>->        /                           ac.Routes</code>
    }

    <h3>Define your descriptor template</h3>
    <p>Create template <code>app/views/descriptor.scala.xml</code>, with the following content:</p>

    @ac.aui.message() {
        <code><pre>
@@ac.descriptor() { @@* using the base descriptor template. *@@
    &lt;plugin-info>
        &lt;description>This is my awesome plugin built using Play!&lt;/description>
        &lt;version>1.0-SNAPSHOT&lt;/version>
        &lt;permissions>
            &lt;permission>create_oauth_link&lt;/permission> @@* this permission is needed to create the OAuth link between the plugin and the host application. *@@
        &lt;/permissions>
    &lt;/plugin-info>
} {
    @@* your modules will go there *@@
}
            </pre></code>
    }

    <h3>Define your <code>Application.index</code> controller</h3>
    <p>Create controller <code>app/controllers/Application.java</code>, with the following content:</p>
    
    @ac.aui.message() {
            <code><pre>
package controllers;

import com.atlassian.connect.play.java.controllers.AcController;

import com.google.common.base.Supplier;

import play.mvc.Controller;
import play.mvc.Result;

public class Application extends Controller {

    public static Result index() {
        return AcController.index(
                AcController.home(), // we keep the HTML home page from the module, as this is our documentation for now
                descriptor());       // serve the descriptor when accept header is 'application/xml', try 'curl -H "Accept: application/xml" http://localhost:9000'
    }

    private static Supplier descriptor() {
        return new Supplier() {
            @@Override
            public Result get() {
                return ok(views.xml.descriptor.render());
            }
        };
    }
}
            </pre></code>
    }

    @ac.aui.success("That's it!") {
        <p>You're ready to add your own modules to your plugin.</p>
    }
}
