@ac.internal.page("home") {
    <p>Now you're ready to start developing your plugin. Here are a few topics you might be interested in:</p>
    <p>
        <ul>
            @ac.internal.connect_menu("home")
        </ul>
    </p>
}
