/*! AUI Flat Pack - version 5.0.1 - generated 2013-02-14 23:57:28 -0500 */


/* This file is served to all versions of IE up to IE9, no hacks as all versions need the one thing it contains :) */
.inline-dialog-shim {
    border: none;
    display: block;
    height: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 0;
    z-index: -2;
}

